services:
  wordpress:
    image: bitnami/wordpress:latest
    volumes:
      - ./wordpress_data:/bitnami/wordpress
    depends_on:
      - database
    environment:
      - MYSQL_HOST=database
      - MYSQL_PORT=3306
      - WORDPRESS_DATABASE_USER=bn_wordpress
      - WORDPRESS_DATABASE_PASSWORD=bitnami
      - WORDPRESS_DATABASE_NAME=bitnami_wordpress
      - WORDPRESS_DATABASE_HOST=database
      - WORDPRESS_DATABASE_PORT=3306
      - WORDPRESS_REDIS_HOST=redis
      - WORDPRESS_REDIS_PORT=6379
    deploy:
      replicas: 2
    expose:
      - 8080
    networks:
      - front
      - back
  
  database:
    image: bitnami/mysql
    volumes:
      - ./mysql_data:/bitnami/mysql/data
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_PASSWORD=bitnami
      - MYSQL_USER=bn_wordpress
      - MYSQL_DATABASE=bitnami_wordpress
    networks:
      - back
  
  redis:
    image: bitnami/redis:latest
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - back
  
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - '8080:80'
    depends_on:
      - wordpress
    networks:
      - front

networks:
  front:
    driver: bridge
  back:
    driver: bridge

volumes:
  myqsl_data:
  wordpress_data:
  nginx:
